html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.container-keyboard {
  display: flex;
  width: 766px;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.container-textarea {
  width: 766px;
  height: 150px;
}
.key {
  background-color: #3a424e;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 0 0;
  transition: 0.4s ease-out;
  cursor: pointer;
  position: relative;
}
.key:hover {
  background-color: #405169 !important;
}

.secondaryKey {
  position: absolute;
  left: 3px;
  top: 2px;
  font-size: 14px;
}

#Backspace {
  width: 100px;
  background-color: #1c232e;
  color: #808080;
}

#Tab {
  width: 50px;
  background-color: #1c232e;
  color: #808080;
}

#CapsLock {
  width: 100px;
  background-color: #1c232e;
  color: #808080;
}

#Enter {
  width: 90px;
  background-color: #1c232e;
  color: #808080;
}

#ShiftLeft {
  width: 100px;
  background-color: #1c232e;
  color: #808080;
}

#ControlLeft,
#ControlRight {
  width: 70px;
  background-color: #1c232e;
  color: #808080;
}
#Backquote {
  background-color: #242424;
}
#ShiftRight,
#ArrowLeft,
#ArrowRight,
#ArrowDown,
#ArrowUp,
#Delete,
#MetaLeft,
#AltLeft,
#AltRight {
  background-color: #1c232e;
  color: #808080;
}

#Space {
  width: 290px;
}

.highlited {
  background-color: #5571ee !important;
  transform: scale(1.1);
  color: #fff !important;
}

.capsLocked {
  background-color: #5571ee !important;
  transform: scale(1.1);
  color: #fff !important;
}
